// Static replacements
replacements {
  R_NAME "Repository name"
  R_DESC "Repository description"
  R_AUTHOR "Repository author"
}

// Actions to perform on files
actions {
  suite name="init" {
    copy from=".template/*.toml" to="."
    delete ".template/*.toml"
    move from=".template/**/*" to="."
    delete ".template"
  }

  // This suite contains unresolved "lint" dependency
  suite name="git" requires="init lint" {
    run "echo git init"
    run "echo git add ."
    run "echo git commit -m 'chore: init'"

    // `run` actions can (or rather should?) have a name.
    run name="multiline greeting" r#"
      echo "KDL "
      echo "is "
      echo "awesome!"
    "#
  }
}
