// Static replacements
replacements {
  R_NAME "Repository name"
  R_DESC "Repository description"
  R_AUTHOR "Repository author"
}

// Actions to perform on files
actions {
  suite name="init" {
    copy from=".template/*.toml" to="{#0}"
    delete ".template/*.toml"
    move from=".template/**/*" to="{#0}"
    delete ".template"
  }

  // This suite contains unresolved "lint" dependency
  suite name="git" requires="init lint" {
    run "git init"
    run "git add ."
    run "git commit -m 'chore: init'"
  }
}
