options {
  delete false
}

actions {
  suite "prompts" {
    input "r_name" {
      hint "Repository name"
      default "norskeld/serpent"
    }

    editor "r_description" {
      hint "Repository description"
      default "Test repository."
    }

    input "r_author" {
      hint "Repository author"
      default "Vladislav M. <hello@vm.codes>"
    }

    select "r_pm" {
      hint "Package manager"
      options "npm" "yarn" "pnpm" "bun"
    }

    number "r_magic" {
      hint "Magic number"
      default 42
    }
  }

  suite "apply replacements" {
    replace in=".template/**/*" {
      "r_name"
      "r_description"
      "r_author"
    }
  }

  suite "apply fs actions" {
    cp from=".template/**/*.md" to="."
    cp from=".template/**/*.toml" to="."
    mv from="*.{md,toml}" to="moved"
    rm "moved/*.toml"
    rm ".template"
  }
}
